#include? "Pods/Target Support Files/Pods-Runner/Pods-Runner.debug-freestaging.xcconfig"
#include "Generated.xcconfig"

APP_DISPLAY_NAME=今日球迷 - 貝塔
ASSETCATALOG_COMPILER_APPICON_NAME=AppIcon-stage
PRODUCT_BUNDLE_IDENTIFIER=com.bandwagon.jumbotron.free.stage
CODE_SIGN_STYLE=Manual
DEVELOPMENT_TEAM=TB4CVVB86R

